---
import Layout from '../layouts/Layout.astro';
import { getEntry } from 'astro:content';
import styles from '@pages-styles/homepage.module.scss';
import { Quotes } from '@components/quotes/Quotes';
import { quotesData } from '@components/quotes/quotesData';
import FrameworkSelector from '@components/FrameworkSelector';
import ChartsLogo from '@ag-website-shared/images/inline-svgs/ag-charts-logo.svg?react';
import HeroGrid from '@components/hero-grid/HeroGrid.astro';
import { AutomatedExamples } from '@ag-website-shared/components/automated-examples/AutomatedExamples';
import { Version } from '@ag-website-shared/components/whats-new/components/Version';
import { urlWithBaseUrl } from '@utils/urlWithBaseUrl';
import { Image } from 'astro:assets';
import { Icon } from '@ag-website-shared/components/icon/Icon';
import Faqs from '../components/framework-landing-pages/react/sections/faqs/Faqs';
import { parseVersion } from '@ag-website-shared/utils/parseVersion';
import whatsNewData from '@ag-website-shared/content/whats-new/data.json';

const { data: versionsData } = await getEntry('versions', 'ag-grid-versions');
const { blogPrefix } = whatsNewData['grid'];

const frameworksData = [
    {
        name: 'react',
        url: '/react-data-grid/',
    },
    {
        name: 'angular',
        url: '/angular-data-grid/',
    },
    {
        name: 'vue',
        url: '/vue-data-grid/',
    },
    {
        name: 'javascript',
        url: '/javascript-data-grid/',
    },
];
---

<!-- Grid font for Quartz theme -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;700&display=swap" rel="stylesheet" />

<!-- Prefetch customer logos -->
<link
    rel="preload"
    fetchpriority="high"
    as="image"
    href={urlWithBaseUrl('/images/ag-grid-customer-logos.webp')}
    type="image/webp"
/>

<Layout
    title="AG Grid: High-Performance React Grid, Angular Grid, JavaScript Grid"
    description={'AG Grid is a feature-rich datagrid for major JavaScript frameworks, offering filtering, grouping, pivoting, and more. Free Community version or 2-month Enterprise trial available.'}
    showSearchBar={false}
    showDocsNav={false}
>
    <div class={styles.homepageHero}>
        <section class:list={[styles.heroInner, 'layout-max-width-small']}>
            <section class={styles.heroHeadings}>
                <a
                    href={urlWithBaseUrl('./whats-new')}
                    class:list={[styles.heroSectionversionTagContainer, 'plausible-event-name=react-table-whats-new']}
                >
                    <span class={styles.heroSectionversion}>v{versionsData[0].version}</span>
                    <span class={styles.heroSectionfeatureHighlight}>
                        - {versionsData[0].landingPageHighlight}
                    </span>
                </a>

                <h1 class="text-xl">The&nbsp;Best&nbsp;JavaScript Data Grid in the World</h1>
                <h2 class="text-fs-xs">
                    Fully customisable and Framework agnostic Data Grids that handle millions of cells out of the box,
                    for free.
                </h2>
                <a href="/react-data-grid/getting-started/" class:list={[styles.heroButton, 'button-secondary']}
                    >Get started
                </a>
            </section>
            <section class={styles.heroGrid}>
                <HeroGrid />
            </section>
        </section>
    </div>

    <div class={styles.homepageFrameworks}>
        <div class:list={[styles.frameworksInner, 'layout-max-width-small']}>
            <div class={styles.frameworkSelector}>
                <div class={styles.tabs}>
                    <div class={styles.active}>
                        <img src={urlWithBaseUrl('images/fw-logos/react.png')} alt="" />React
                    </div>
                    <div><img src={urlWithBaseUrl('images/fw-logos/angular.png')} alt="" />Angular</div>
                    <div><img src={urlWithBaseUrl('images/fw-logos/vue.png')} alt="" />Vue3</div>
                    <div><img src={urlWithBaseUrl('images/fw-logos/js.png')} alt="" />Javascript</div>
                </div>
                <div class={styles.frameworkCode}>
                    <div>npm install ag-grid-react</div>
                    <Icon svgClasses={styles.copyToClipboardIcon} name="copy" />
                </div>
            </div>
        </div>
    </div>

    <div class={styles.homepageCustomers}>
        <div class={styles.sectionContent}>
            <div class:list={[styles.customersInner, 'layout-max-width-small']}>
                <div class={styles.customerLogos}></div>
            </div>
            <p class={styles.customerSubheading}>
                Trusted by the finest teams globally, an unmatched experience for developers and users alike.
            </p>
        </div>
    </div>

    <div class={styles.sectionContent}>
        <header class={styles.headingContainer}>
            <h2 class={styles.tag}>Performance And Speed First</h2>
            <h3 class={styles.heading}>The Fastest Data Grid In The World</h3>
            <h4 class={styles.subHeading}>
                Handle millions of rows, and thousands of updates per second out of the box, without compromising on
                performance
            </h4>
            <a href="/react-data-grid/getting-started/" class:list={[styles.learnMoreButton, 'button-tertiary']}
                >Learn more
            </a>
        </header>
        <div class={styles.blueRectangle}></div>
        <AutomatedExamples client:visible />
    </div>

    <div class:list={[styles.sectionContent, styles.quotesSection]}>
        <div class={styles.headingContainer}>
            <h2 class={styles.tag}>Who Builds Data Grids with AG Grid?</h2>
            <h3 class={styles.heading}>Loved By Developers, Trusted By The Worlds Largest Enterprises</h3>
            <h4 class={styles.subHeading}>
                Over 90% of the Fortune 500 use AG Grid, with 1,000,000+ npm downloads per week and over 12,000 Stars on
                GitHub.
            </h4>
        </div>
        <Quotes client:load data={quotesData} />
    </div>

    <div class:list={[styles.sectionContent, styles.faqSection]}>
        <div class:list={[styles.latestNewsSectionInner]}>
            <div class={styles.headingContainer}>
                <h2 class={styles.tag}>Latest JavaScript Charting Releases from AG Grid</h2>
                <h3 class={styles.heading}>Regular Releases, <br /> Updates, and&nbsp;Enhancements</h3>
                <h4 class={styles.subHeading}>
                    With minor releases every 6 weeks, and major releases every 6 months, stay up to date with all of
                    the newest features and improvements to AG Grid Data Grids.
                </h4>
                <div class={styles.blueRectangle}></div>
            </div>
            <div class={styles.latestNewsVersions}>
                {
                    versionsData
                        .filter((versionInfo) => versionInfo.version.endsWith('.0')) // Exclude patch releases
                        .slice(0, 3)
                        .map((versionInfo, index) => {
                            if (versionInfo.highlights) {
                                const { major, minor } = parseVersion(versionInfo.version);
                                const blogUrl = `${minor ? `${blogPrefix}${major}-${minor}` : `${blogPrefix}${major}`}/`;
                                return (
                                    <Version
                                        client:load
                                        isLatest={index === 0}
                                        blogUrl={blogUrl}
                                        version={versionInfo.version}
                                        date={versionInfo.date}
                                        highlights={versionInfo.highlights}
                                        notesPath={versionInfo.notesPath}
                                    />
                                );
                            }
                        })
                }
            </div>
            <div class={styles.ctaButton}>
                <a
                    href={urlWithBaseUrl(
                        '/whats-new/?utm_source=charts-homepage&utm_medium=whats-new-section&utm_campaign=homepage-cta'
                    )}
                    class="button">See Whats New</a
                >
            </div>
        </div>
    </div>

    <div class:list={[styles.sectionContent, styles.faqSection]}>
        <div class={styles.headingContainer}>
            <h2 class={styles.tag}>Data Grid FAQs</h2>
            <h3 class={styles.heading}>Frequently Asked Questions</h3>
            <h4 class={styles.subHeading}>
                How many rows can AG Grid handle? How fast is AG Grid? Is AG Grid free? Answers to these common
                questions and more.
            </h4>
        </div>
        <Faqs client:load />
    </div>
</Layout>
